<html lang="en" ng-app="protojson">
<head>
  <meta charset="utf-8">
  <title>Protojson</title>
   <script src="/js/ByteBufferAB.min.js"></script>
  <script src="/js/protobuf.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/main.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css"> -->
</head>

<body ng-controller="WeatherCtrl">
  <h1>Weather page</h1>
  <label>
       Number of rows:
       <input type="text" name="numberOfRows" ng-model="numberOfRows" required ng-init="numberOfRows='10'">
    </label>
  <button ng-click="getContacts()">Get all with JSON</button>
  <button ng-click="getContactsProtobuf()">Get all with ProtoBuf</button>

<table>
		<thead>
			<tr>
				<th style="width: 25%;">stationNumber</th>
				<th style="width: 25%;">start date</th>
				<!-- <th style="width: 10%;">month</th> -->
				<th style="width: 25%;">end date</th>
				<th style="width: 25%;">rain</th>
			</tr>
		</thead>
		<tbody>
	 <tr ng-repeat='weather in weatherlist' ng-show="!$last">
	 				<td align="center"> {{weather.stationnumber}}</td>
	 				<td align="center">{{weatherlist[$index + 1].year}} - {{weatherlist[$index + 1].month}} - {{weatherlist[$index + 1].day}}</td>
                    <td align="center"> {{weather.year}} - {{weather.month}} - {{weather.day}}</td>
                    
                    
                    <!-- <td align="center"> {{weatherlist[$index + 1].rain === "true" ? "raining" : "sunny"}} </td> -->
                    <td align="center"> {{weatherlist[$index + 1].rain}} </td>

                </tr>
         </tbody>
      </table>

  
 
</body>
</html>